.description {
    padding-left: 0;
    padding-right: 0;

    &__list {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        row-gap: 1.875rem;
        column-gap: 1.875rem;
        list-style: none;
    }

    &__icon {
        display: flex;
        justify-content: center;
        // padding-top: 25px;
        // padding-bottom: 25px;
        padding: 25px 100px;
        background-color: $pageColorTeam;
    }

    &__title {
        margin-top: 30px;
        font-size: 16px;
        text-transform: uppercase;
        margin-bottom: 10px;
        text-align: center;
    }

    &__text {
        font-size: 14px;
        line-height: 171%;
        letter-spacing: 0.03em;
        color: $pageColorGrey;

    }
}

@media screen and (min-width: $breakpointTablet) {
    .description__list {
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .description__item {
        max-width: 22rem;
    }
    .description__title {
        text-align: left;
    }
}
@media screen and (min-width: $breakpointDesktop) {
    .description__list {
        flex-wrap: nowrap;
    }
}