.logo {
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    font-size: 26px;
    // margin-right: 93px;
    color: $pageColorBlue;
    text-decoration: none;
    
    &--header {
    color: $pageColorBlack;
    }

    &--footer {
    color: $pageColorWhite;
    }
}  

@media screen and (min-width: $breakpointTablet) {
    .logo {
        display: flex;
    }
}

@media screen and (min-width: $breakpointDesktop) {
    .logo {
        // display: flex;        
    }
}