// settings jump to index.html - js script --MODAL MENU BEGIN--
.m {
    background: none;
    outline: none;
    background: none;
    border: none;
}

// @media screen and (max-width: $breakpointMobile) {
//     &.menu-toggle {
//         display: none;
//     }
// }
