// settings jump to index.html - js script --MODAL MENU BEGIN--
.menu-toggle {
    outline: none;
    background: none;
    border: none;
}

.mobile-menu {
    // 
}
// 
&.is-open {

}
// 
&.menu-toggle {

}
