*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  font-size: 100%;
  max-width: 1600px;
  margin: 0 auto;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 0 15px;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;

}

@media screen and (min-width: $breakpointDesktopBegin) {
  .section {
    padding-bottom: 94px;
  }
}

