$pageColorBackground: #e5e5e5;
$pageColorWhite: #ffffff;
$pageColorBlack: #212121;
$pageColorBlue: #2196f3;
$pageColorGrey: #757575;
$pageColorBack: #2f303a;
$pageColorTeam: #f5f4fa;
$pageColorBorbox: #eeeeee;
$pageColorLgrey: #afb1b8;
$pageColorBlack: #000;
$transTime: 250ms;
$transFunc: cubic-bezier(0.4, 0, 0.2, 1);